@model Visage.Web.Models.Permisso

@{
    ViewData["Title"] = "Detalhes da Permissão";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Permissão</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePermissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePermissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
